.heading-1 {
  @include mobile-heading;
}

// button component
.button {
  @include body-2;

  padding: 1rem 2rem;
  outline: none;
  border: none;
  background-color: $red;
  border-radius: 6.25rem;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  @media (min-width: 1440px) {
    @include heading-2;
    padding: 1.875rem 3.75rem;
  }

  transition: transform 0.6s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}

.button__small {
  @include body-2;

  padding: 1rem 2rem;
  outline: none;
  border: none;
  background-color: $red;
  border-radius: 6.25rem;
  color: $white;
  cursor: pointer;

  transition: transform 0.6s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  text-decoration: none;
  display: inline-block;
}

// landing section
.landing {
  @media (min-width: 90rem) {
    display: flex;
  }
  &__info {
    @media (min-width: 90rem) {
      width: 50%;
    }
    &__reviews {
      img {
        width: 158px;
        height: 30px;
      }
      p {
        @include body-2;

        padding-top: 1rem;
        height: 100%;
        @media (min-width: 90rem) {
          margin-left: 1rem;
        }
      }

      @media (min-width: 90rem) {
        display: flex;
        align-items: center;
      }
    }

    &__heading {
      @include mobile-heading;
      margin-top: 1rem;

      @media (min-width: 90rem) {
        @include heading-1;
        margin-top: 2rem;
      }
    }

    &__content {
      @include body-3;

      margin-top: 2rem;
      @media (min-width: 90rem) {
        @include body-1;
        margin-top: 4rem;
        width: 35.25rem;
      }
    }

    a {
      margin-top: 2rem;

      @media (min-width: 90rem) {
        margin-top: 8rem;
      }
    }

    &__testimonial {
      display: none;
      margin-top: 1rem;

      p {
        @include body-3;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 6px;

        .test_img {
          border-radius: 100%;
          object-fit: cover;
          height: 50px;
          width: 50px;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          margin-left: 1rem;

          p {
            @include body-3;
          }
          img {
            width: 158px;
            height: 30px;
            border-radius: none;
          }
        }
      }

      @media (min-width: 90rem) {
        display: block;
      }
    }
  }

  &__image {
    margin-top: 2rem;
    width: 232.42px;
    height: 170px;
    position: relative;

    img {
      width: 100%;

      @media (min-width: 90rem) {
        width: 982.84px;
        height: 718.87px;
        position: absolute;
        bottom: 0;
        right: -12.5rem;
      }
    }

    @media (min-width: 90rem) {
      width: 50%;
      height: 778px;
    }
  }
}

// features section
.features {
  @include section;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 7.25rem;
}

// feature card component
.feature {
  margin-top: 2rem;
  position: relative;
  &__icon {
    margin-bottom: 1rem;
  }

  &__title {
    @include mobile-heading;
    margin-bottom: 2rem;

    @media (min-width: 90rem) {
      @include heading-3;
    }
  }

  &__text {
    @include body-3;
    @media (min-width: 90rem) {
      @include body-2;
    }
  }
}

// testimonial section
.testimonials {
  @include section;
}

// slider component component
.slider {
  @media (min-width: 90rem) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    height: 15.5rem;
    width: 15.5rem;
    @media (min-width: 90rem) {
      height: 32rem;
      width: 32rem;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 1rem;
    @media (min-width: 90rem) {
      width: 37.5rem;
    }
    h2 {
      @include heading-1;
    }

    p {
      @include body-3;
      margin-bottom: 1rem;
      @media (min-width: 90rem) {
        @include body-1;
      }
    }

    &__name {
      h2 {
        @include mobile-heading;
        @media (min-width: 90rem) {
          @include heading-2;
        }
      }

      h3 {
        @include body-3;
        @media (min-width: 90rem) {
          @include body-1;
        }
      }
    }
  }
}

// custom slider arrow
.slider-arrow {
  transform: rotate(-45deg);
  position: absolute;
  right: 0.2rem;
  bottom: 0.5rem;
  width: 32px;
  @media (min-width: 90rem) {
    bottom: 27%;
  }
}

// price section
.price {
  @include section;

  &__tabs {
    padding: 0.5rem;
    background-color: $grey;
    border-radius: 0.625rem;
    width: 15.475rem;
    margin: 0 auto;
    @media (min-width: 90rem) {
      width: 19.75rem;
    }
    &__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &__tab {
        @include body-3;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 0.625rem;
        background-color: transparent;
        z-index: 3;
        cursor: pointer;
        @media (min-width: 90rem) {
          @include body-1;
        }
      }

      .tab {
        background-color: $white;
        border-radius: 0.625rem;
        left: 5%;
        width: 45%;
        height: 100%;

        position: absolute;
        z-index: 1;
        display: block;

        transition: all 1.5s ease;

        &.right {
          width: 40%;
          left: 57%;
        }
      }
    }
  }

  &__cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    gap: 5.8125rem;
  }
}

// price card component
.price-card {
  padding: 2.5rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  width: 260px;

  @media (min-width: 90rem) {
    width: auto;
    padding: 2.5rem 2rem;
  }

  &__title,
  &__price {
    @include mobile-heading;
    text-transform: uppercase;

    @media (min-width: 90rem) {
      @include heading-2;
    }
  }

  &__features {
    margin-top: 2rem;
  }

  &__price {
    margin: 2rem 0;
  }
}

// price card feature component {
.price-card__feature {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  p {
    @include body-3;
    margin-left: 0.5rem;

    @media (min-width: 90rem) {
      @include body-2;
    }
  }
}

// faq section
.faq {
  @include section;

  &__title {
    text-align: center;
    @include mobile-heading;

    @media (min-width: 90rem) {
      @include heading-1;
    }
  }

  &__questions {
    margin-top: 2rem;
  }
}

// faq component

.faq__questions__question {
  border-bottom: 2px solid $black;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  transition: all 1s ease-in;
  overflow: hidden;
  cursor: pointer;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      width: 80%;
      @include body-3;

      @media (min-width: 90rem) {
        @include body-1;
      }
    }
  }
  .answer {
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
    @include body-3;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

    &.open {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    }
  }
}

// footer
.footer {
  @include section;
  margin-bottom: 2rem;
  text-align: center;

  @media (min-width: 90rem) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    @include body-1;
  }
  p {
    @include body-1;
    margin-top: 1rem;
  }
}

// contact page
.contact {
  position: relative;
  max-width: 100%;
  &__image {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;

    @media (min-width: 90rem) {
      width: 50%;
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: 90rem) {
    display: flex;
    margin-top: $large;
  }

  &__confirm {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: $green;
    padding: 1rem;
    border-radius: 10px;
    color: $white;
    transition: all 1s ease;

    &.success {
      transition: all 1s ease;
      opacity: 1;
    }

    p {
      @include body-2;
    }
  }
}

// form
.form {
  @media (min-width: 90rem) {
    width: 50%;
  }
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    max-width: 100%;

    label {
      @include mobile-heading;
    }
    &__input {
      width: calc(98% - 2rem);
      border: 2px solid black;
      border-radius: 10px;
      background-color: $grey;
      height: calc($small - 2rem);
      padding: 1rem;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &::placeholder {
        @include body-3;
        color: $black;
      }
    }
  }
}
