.layout {
  width: 77vw;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 77.25rem;

  @media (min-width: 90rem) {
    margin-top: 4rem;
    width: 86vw;
  }
  @media (min-width: 90.1rem) {
    overflow: hidden;
  }
}

html, body{
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}