// font import
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Typography
$font: 'DM Sans', sans-serif;

// font sizes
$heading-1: 3.05rem;
$heading-2: 2.44rem;
$heading-3: 1.95rem;
$body-1: 1.56rem;
$body-2: 1.25rem;
$body-3: 1rem;

// font weight
$regular: normal;
$bold: bold;

// colors
$black: #000;
$white: #fff;
$red: #FF3C3C;
$green: #4ECB71;
$grey: #D9D9D9;
$brillian-azure: #3683FC;

// section spacings
$small: 4rem;
$large: 8rem;